global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    stats enable
    stats uri /stats
    stats refresh 10s
    default_backend http_back

backend http_back
    balance roundrobin
    server tuspdm201 172.21.84.108:80 check
    server tuspdm202 172.21.84.109:80 check
    server tuspdm203 172.21.84.110:80 check
